html,body
{
    --text: #f3fcf3;
    --background: #030c03;
    --primary: #34c534;
    --secondary: #0b280b;
    --accent: #36c936;
    background: var(--background);
    font-family: 'JetBrains Mono', monospace;
}

text
{
    color: #030c03;
}